.body-container {
    padding-top: 23vh;
    background-color: #4b4b4b;
}

.layer1 {
    margin-bottom: 10vh;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.8;
}

.layer1, .layer2 {
    margin-left: 10vw;
    display: flex;
    height: 50vh;;
    width: 80vw;
    background-color: whitesmoke;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(74, 59, 55, 0.1);
    justify-content: space-between;
}

.layer1-text, .layer2-text {
    max-width: 60%;
    color: #4b4b4b;
    margin: auto;
    margin-left: 5vh;
}

.layer1-image, .layer2-image {
    max-width: 40%;
    height: 100%;
}

.layer1-text p, .layer2-text p{
    font-size: larger;
}

.layer1-text button, .layer2-text button {
    border-style: none;
    border-radius: 50px;
    background-color: red;
}

.footer {
    height: 10vh;
}