@font-face {
  font-family: 'customFont';
  src: url('./assets/font/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  box-sizing: border-box;
  font-family: "customFont";
  height: 100;
  width: 100vw;
  background-color: #4b4b4b;
  /* background-image: linear-gradient(to bottom, #d174744e, #574a41); */
}

body {
  margin: 0;
  padding: 0;
}

.haru {
    color: red;
}



